<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="stylesheet" href="{{ asset('css/bootstrap.min.css') }}">
        <link rel="stylesheet" href="{{ asset('css/styles.css') }}">
        {% block stylesheets %}{% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
        <header>
            <div class="container">
                <h1>Blog v1.0</h1>
            </div>
        </header>
        <section class="main">
            <div class="container">
                {% for alert in app.session.flashBag.get('alert-msj') %}
                    <br>
                    <div class="alert {{ app.session.flashBag.get('alert-type')[0] }}  alert-dismissible" role="alert">
                      <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                      <strong>ATENCIÓN! </strong><br> {{ alert|nl2br }}
                    </div><br>
                {% endfor %}
                {% block content %}{% endblock %}
            </div>
        </section>
        <footer>
            <div class="container">
                <p class="text-center">&copy; Prueba Symfony By Emilio Ochoa</p>
            </div>
        </footer>
        <script src="{{ asset('js/jquery.js') }}"></script>
        <script src="{{ asset('js/bootstrap.min.js') }}"></script>
        {% block javascripts %}{% endblock %}
    </body>
</html>
