{% extends 'base.html.twig' %}

{% block title %}Blog v1.0{% endblock %}

{% block content %}
    <h2>Todas las publicaciones</h2>
    <div>
        <a href="{{ path('index.create') }}" class="btn btn-success">ADD</a>
    </div>
    {% for post in posts %}
        <div class="publication">
            <div>
                <h2>{{ post.title }}</h2>
                <p><strong>Autor:</strong>{{ post.author.name }}</p>
                <p>{{ post.content }}</p>
                <a href="{{ path('index.edit',{'id' : post.id}) }}" class="btn btn-warning">Editar</a>
            </div>
        </div>
    {% endfor %}
{% endblock %}